<!-- <h1>MIS PRIMEROS PASOS ANGULAR</h1>
<p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Atque laudantium minima dignissimos tempore voluptatum vero, consequatur laboriosam pariatur praesentium vel saepe ratione rerum quod nihil facere architecto repellendus nisi tempora.</p>
-->

<!-- menú de navegación -->

<!-- <nav>
  <a></a>
  <ol>
    <li class="lista"><a routerLink="/">Inicio</a></li>
    <li><a routerLink="/productos">Productos</a></li>
    <li><a routerLink="/inicioSesion">Iniciar sesión</a></li>
    <li><a routerLink="/registroUsuarios">Registrarse</a></li>
    <li><a routerLink="/admin">Panel de administración</a></li>
  </ol> 
</nav> -->
 
<!-- bootstrap -->
<!-- <button type="button" class="btn btn-success">Success</button>
<i class="bi bi-2-square"></i> -->

<!-- Es el responsable de que mi APP (Proyecto de front) tenga rutas -->
 <!-- Es el que permite que las rutas funcionen y me muestren el contenido -->
<router-outlet />


